[session]
security = "all"
==
<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        {% partial 'ga' %}         
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-P6CN26D');</script>
    
        <link rel="stylesheet" href="{{[
            'assets/dist/semantic.min.css',
            'assets/css/main.css',
            'assets/less/magic.less',
        ]|theme }}" />
        {% styles %}
    </head>
    <body class="forgot" style="overflow:unset;">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6CN26D"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <div class="ui container">
            <div class="ui equal width center aligned padded grid stackable">
                {% page %}
            </div>
        </div>

        <script src="{{[
            'assets/js/vendor/jquery.min.js',
            'assets/vendor/nicescrool/jquery.nicescroll.min.js'
        ]|theme }}"></script>
        
        {% framework extras %}
        {% scripts %}
        {% partial 'ga' %}   
    </body>
</html>