<div class="ui container">
    <div class="ui grid">
        <div class="ui sixteen wide column dash-hero">
            {% if access.program.slider_images.count() >= 1 %}
            <div class="full-screen-feature-image">
                <div class="slick_header" style="display:none;">
                    {% for image in access.program.slider_images %}
                    <div><img src="{{ image.path }}" style="width:100%;height:auto"></div>
                    {% endfor %}
                </div>
            </div>

            {% if access.program.feature_image_mobile %}
            <div class="hero mobile-feature-image" >
                <img src="{{ access.program.feature_image_mobile.path  }}" style="width:100%;height:auto">
            </div>
            {% endif %}

            {% put scripts %}


            <script>

              $(document).ready(function(){

                $('.slick_header').show();
                $('.slick_header').slick({autoplay:true,autoplaySpeed: 3000,arrows:false});

              });

            </script>

            {% endput %}

            {% else %}
            {% if access.program.feature_image %}
            <div class="hero full-screen-feature-image" >
                <img src="{{ access.program.feature_image.path  }}" style="width:100%;height:auto" >
            </div>

            {% else %}
            {% if access.managedprograms != null %}
            <div class="hero-empty-desktop">
                <a href="/program-settings/default">Click Here To Upload A Desktop Feature Image For This Program.</a>
            </div>
            {% endif %}
            {% endif %}
            {% if access.program.feature_image_mobile %}
            <div class="hero mobile-feature-image" >
                <img src="{{ access.program.feature_image_mobile.path  }}" style="width:100%;height:auto">
            </div>
            {% else %}
            {% if access.managedprograms != null %}
            <div class="hero-empty-mobile">
                <a href="/program-settings/default">Click Here To Upload A Mobile Feature Image For This Program.</a>
            </div>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>

        {% if access.program.module_allow_user_profile == true %}

        <div class="ui sixteen wide tablet four wide computer column dash-profile">

            <!--  PROFILE -->
            <!-- Taken from /components/myprofile/myprofile.htm:-->
            <div class="six wide tablet four wide computer column">
                <div class="ui segment profile-summary">

                    <div class="userlogin">
                        <div class="profile-summary-image">
                            {% if access.user.avatar %}
                            <img src="{{ access.user.avatar.thumb(150 , 150, 'crop') }}" class="ui small circular image avatar">
                            {% else %}
                            <img src="{{ 'assets/img/avatar/people/Enid.png'|theme }}" class="ui small circular image avatar">
                            {% endif %}
                            <!-- <a href="" class="profile-summary-edit">Edit</a> -->
                        </div>

                        <div class="profile-summary-description">
                            <p>You are logged in as: <br>
                                <a href="/profile/{{ access.user.slug }}">{% if access.program.use_business_names == true %}{{ access.user.business_name }}{% else %}{{ access.user.full_name }}{% endif %}</a><br>
                                <a data-request="onLogout" data-request-data="redirect: '/login/{{ user.currentProgram.slug }}'" class="secondary underlined" style="cursor:pointer;">Sign out</a>
                            </p>
                        </div>

                        <div class="ui vertical text menu profile-summary-account-nav">
                            <a class="item secondary"  href="/profile/{{ access.user.slug }}">
                                <span>My Account</span>
                            </a>
                        </div>

                        <div class="profile-summary-teams">

                            {% if access.program.module_allow_users == false %}

                            <div style="margin-bottom:20px;">
                                <span class="ui label side-bar-label">{{ access.team.name|length > 50 ? access.team.name|slice(0, 50) ~ '...' : access.team.name  }}</span>
                            </div>
                            {#
                            <div>
                                <span class="ui label side-bar-label">{{ access.region.name|length > 50 ? access.region.name|slice(0, 50) ~ '...' : access.region.name  }}</span>
                            </div>
                            #}
                            <div style="margin-bottom:20px;">
                                <span class="ui label side-bar-label">{{ access.program.name|length > 50 ? access.program.name|slice(0, 50) ~ '...' : access.program.name  }}</span>
                            </div>



                            {% else %}

                            <div>
                                <a href="/profiles/default/{{access.team.slug}}" class="ui label side-bar-label"><span>{{ access.team.name|length > 15 ? access.team.name|slice(0, 15) ~ '...' : access.team.name  }}</span></a>
                            </div>
                            {#
                            <div>
                                <a href="/profiles/{{access.region.slug}}/default" class="ui label side-bar-label"><span>{{ access.region.name|length > 15 ? access.region.name|slice(0, 15) ~ '...' : access.region.name  }}</span></a>
                            </div>
                            #}
                            <div>
                                <a href="/profiles/default/default" class="ui label side-bar-label"><span>{{ access.program.name|length > 15 ? access.program.name|slice(0, 15) ~ '...' : access.program.name  }}</span></a>
                            </div>
                            {% endif %}
                        </div>
                        <!--div style="padding-top: 20px;">My Point:</div><div><h3>{{mypoint}}</h3></div>-->
                    </div>

                    <div class="ui vertical secondary menu profile-menu">
                        <a class="item" href="/rewards">Rewards</a>
                        {% if access.program.module_allow_posts == true %}
                        <a class="item" href="/posts"><span>Posts</span></a>
                        {% endif %}
                        {% if access.program.module_allow_program_tools == true %}
                        <a class="item" href="/program-tools"><span>Program Content</span></a>
                        {% endif %}
                        {% if access.program.module_allow_awards == true %}
                        <a class="item" href="/awards"><span>Awards</span></a>
                        {% endif %}
                        <a class="item" href="/post/5step-criteria">Criteria</a>
                        <a class="item" href="/post/5step-sponsors">Sponsors</a>
                        {# <a class="item" href="/user-management/catalog">Users</a> #}
                        <a class="item" href="/program-faqs">FAQS</a>
                        <a class="item" href="/post/5step-contact-us">Contact Us</a>
                    </div>

                </div>
            </div>
            <!-- /Taken from /components/myprofile/myprofile.htm:-->
            <!-- END: PROFILE -->
        </div>
        {% endif %}

        {% if access.program.module_allow_results == true %}
            <div class="ui sixteen wide tablet twelve wide computer column">
                {% component 'SpinTheWin' %}
                {% if access.user.roll != 'Sponsor' %}
                    {% component 'ResultsWidget' %}
                {% endif %}
            </div>
        {% endif %}

        {% if access.program.module_allow_posts == true or access.program.module_allow_program_tools == true %}
        <div class="ui sixteen wide tablet {% if access.user.roll != 'Sponsor' %}seven{% else %}sixteen{% endif %} wide computer column">
            {% if access.program.module_allow_posts == true %}
                {% component 'PostsListDashboard' %}
            {% endif %}

            {% if access.program.module_allow_program_tools == true %}
                {% component 'ProgramToolsDashboard' %}
            {% endif %}
        </div>
        {% endif %}

        <div class="ui sixteen wide tablet {% if access.user.roll != 'Sponsor' %}nine{% else %}sixteen{% endif %} wide computer column dash-programs">
            <div class="ui segment">
                {% component 'SocialFeed' mode='dashboard' %}
            </div>
        </div>

        {% if access.program.module_allow_rewards == true %}
        <div class="ui sixteen wide tablet sixteen wide computer column dash-programs">
            {% component 'WishlistDashboard' %}
        </div>
        {% endif %}

        <!-- WISHLIST AND SHOPPING BAG -->

        {% if access.program.module_allow_rewards == true %}
        {% if access.program.id == 11 %}

        {% else %}
        {% component 'RewardsCoverFlow' %}
        {% endif %}
        {% endif %}

        <!-- WISHLIST AND SHOPPING BAG END -->

        <div class="ui header center aligned sixteen wide column dashboard-announcement">
            {{ dashboardSettings.announcement_content|raw }}
        </div>

        <!-- LATEST POSTS -->

        <!-- END: LATEST POSTS -->

    </div>
</div>
